<h1 class="text-center my-4">User List</h1>

<div class="container">
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      @for (user of userLists; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.city }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="container cnt">
  <div class="row">
    <div class="col-6">
      <label for="name">Email</label>
      <input type="text" [(ngModel)]="obj.emailId" class="form-control" />
    </div>
    <div class="col-6">
      <label for="name">Password</label>
      <input type="text" [(ngModel)]="obj.password" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="name">Mobile</label>
      <input type="text" [(ngModel)]="obj.mobileNo" class="form-control" />
    </div>
    <div class="col-6">
      <label for="name">Full Name</label>
      <input type="text" [(ngModel)]="obj.fullName" class="form-control" />
    </div>
  </div>

  <button class="btn btn-success" (click)="saveInfo()">Save</button>
</div>
